#elementInfoDiv {
  background-color: #434343 !important;
  color: #fff !important;
  z-index: 20000000000 !important;
  font-size: 1.2rem;
}

$clr-prim-100: hsl(122, 39%, 20%);
$clr-prim-200: hsl(122, 39%, 35%);
$clr-prim-300: hsl(122, 39%, 49%);
$clr-prim-400: hsl(122, 39%, 90%);
$clr-prim-500: hsl(122, 39%, 95%);

$clr-sec-100: hsl(218, 100%, 16%);
$clr-sec-100: hsl(218, 100%, 16%);
$clr-sec-200: hsl(218, 100%, 25%);
$clr-sec-300: hsl(218, 100%, 50%);
$clr-sec-400: hsl(218, 100%, 90%);
$background: #f9f9f9;
$text: #222;
$dark: #000;
$light: #fff;

.btn {
  padding: 0.5rem 1rem;
  border: none;
  // width: 180px !important;
  margin-inline: auto;
  margin-block: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 30px rgba(100, 255, 34, 0.5);
  font-size: 1.3rem;
  font-weight: 500;
}
.btn-prim {
  color: $clr-prim-100;
  border-radius: 8px;
  background-color: $light;

  &:hover {
    background-color: $clr-prim-400;
  }
}

.btn-sec {
  background: #fff;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  color: $clr-prim-100;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    background: darken($light, 15%);
  }
}

.glass-bg {
  /* Glassmorphism */
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.con-lg {
  max-width: 1200px;
  margin-inline: auto;
}
.con-sm {
  max-width: 1024px;
  margin-inline: auto;
}
